<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="ajout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  
    
    <title>Ajout compte</title>
</head>
<body>
    <div class="wrapper">
    <h4> Veuillez remplir ce formulaire :</h4>
        <form th:action="@{ajout}" method="post" th:object="${c}">
                
                  <div class="form-group">
                    <label for="codeCompte">Code du compte</label>
                    <input type="text" class="form-control" id="codeCompte"  placeholder="Personnalisez le code">
                  </div>

                  <div class="form-group">
                    <label for="nom">Nom de l'utilisateur</label>
                    <input type="text" class="form-control" id="nom"  placeholder="Donnez le nom de l'utilisateur">
                  </div>

                  <div class="form-group">
                    <label for="solde">Solde </label>
                    <input type="text" class="form-control" id="solde"  placeholder="Donnez le solde">
                  </div>
                
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                 
                    <button  type="submit" class="btn btn-outline-dark">Créez compte</button>
        </form>
    </div>            
</body>
</html>