<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="consu.css">
    <title>Consultation du compte</title>
</head>
<body>
    <div class="wrapper">
        <h4>Information du compte</h4>
        <div class="corp">
            Code du compte <p th:text="${compte.getCodeCompte}"><br>
            Nom de l'utilisateur<p th:text="${compte.getNom}"><br>
            Email l'utilisateur<p th:text="${compte.getEmail}"><br>
            Date de création du compte<p th:text="${compte.getDateCreation}"><br>
            Solde<p th:text="${compte.getSolde}" ><br>
            <button  type="button" class="btn btn-outline-warning" th:href="@{menu}">Menu principal</button>
        </div>
    </div>
</body>
</html>