<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="reu.css">
    <title>Reussite</title>
</head>
<body>
    <div class="wrapper">
  <h2> L'operation a échoué, veuillez réessayer.. </h2>  <br> <br>
  <br><br>
    <button class="btn btn-outline-warning" id="consu" th:href="@{menu}"> Menu principal</button> 
</div>
</body>
</html>