<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="menu.css">
    <title>Menu</title>
</head>
<body>
    <div class="wrapper">
        <h4>Menu</h4>
        <div class="btn-wrapp">
            <button class="btn btn-outline-info" id="consu" th:href="@{Consultation}"> Consulter Compte </button> <br><br>
            <button class="btn btn-outline-info" id="op" th:href="@{operation}"> Operations bancaires </button>
        </div>
    </div>
</body>
</html>